*{
  background-color: #5D93DA ;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.heroIntro {
  display: flex;
  flex-direction: row; /*ikke nødvendig men gir et viuelt hjelp i inspect*/
}

.heroText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroImg {
  width: 50%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerNav {
  display: flex;
  gap: 10px;
}

.navButton {
  display: flex;
  font-size: medium;
  padding: 5px;
  border: solid; 
  color: white;
  border-radius: 50px;
  gap: 10px;
  background-color: black;
}

.navButton:hover {
  background-color: rgb(86, 86, 238);
  transform: translateY(-5px);
}

.footerEnd {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Media Query */

@media (max-width: 425px) {
  .heroIntro {
    flex-direction: column-reverse;
  }

  .heroText, .heroImg {
    width: 100%;
  }

  .footer {
    flex-direction: column;
  }
}